.detail {
  background-color:#006CD1;
  /* padding: 5px 9px 0 9px; */
  padding: 5%;
  width: 100vw;
}

.detail_links-container {
  display: flex;
  /* flex-direction: column; */
  padding: 0 10px 0 10px;
  align-content: center;
  justify-content: space-between;
}

.detail_link-to-NYT {
  background-color: snow;
  padding: 2px 0px 2px 6px;
  font-weight: bolder;
  border-radius: 5px;
  color: #3C7C18;
  text-decoration: none;
  text-align: center;
  display: flex;
  width: 110px;
  align-self: flex-end;
  margin-right: 15px;
}


.detail-to-home {
  color:snow;
  text-decoration: none;
  margin: 0;
  width: 85px;
  font-size: 1.1em;
}

.detail_title-author-container {
  color:snow;
  background-color: #994F00;
  /* width: 100vw; */
  padding: 0 4px 0 4px;
  border-radius: 5px;
  margin: 0;
  width: 100%;
}

.detail_title {
  font-size: 1.1em;
}

.detail_photo {
  height: 300px;
  /* width: 100%; */
  /* align-self: flex-end; */
}

.detail_abstract {
  color: snow;
  border: 7px double #3C7C18;
  padding: 2px;
  margin: 0 0 4px 0;
}

.detail_caption {
  color: #994F00;
  font-size: .8em;
  background-color: snow;
  border-radius: 5px;
  padding: 0 5px 0 5px;
}

.detail_abstract-photo-caption-container {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  /* align-content: center; */
}

.detail_topics-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #994F00;
  padding: 3px;
  width: 100vw;
}
.detail_topic-element {
  font-size: .5em;
  background-color:#3C7C18;
  padding: 2px;
  /* margin: 3%; */
}



