.card {
  border: solid 1px black;
  width: 200px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 3%;
  /* height: 30vh; */
}

.button-date-container {
  display: flex;
  justify-content: space-between;
}

.date {
  font-size: .3em;

}