.card {
  border: solid 1px black;
  width: 160px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 3%;
  background-color: blueviolet;
  /* margin: 30px; */
}

.card_button-date-container {
  display: flex;
  justify-content: space-between;
}

.card_title {
  font-size: .8em;
}

.card_date {
  font-size: .3em;
}

.card_caption {
  font-size: .3em;
}

.card_photo {
  /* height: 70px; */
  width: 150px;
}

