.search {
  font-family: "opendyslexic" !important;
  margin: 0;
  font-weight: bolder;
  font-size: .77em;
  /* height: 100%; */
}


@media (min-width: 800px) {

  .search {
    margin-right: 5em;
  }
}