.card-display {
  padding: 2%;
  width: 100vw;
  min-height: 100vh;
  /* display: grid;
  grid-template-columns: 1fr 1fr; */
  /* column-gap: 2vw; */
  /* row-gap: 2vh; */
  display: flex;
  flex-wrap: wrap;
  background-color:#006CD1
}