.card-display {
  padding: 1% 0 1% 0;
  width: 100vw;
  min-height: 100vh;
  /* align-content: center; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color:#006CD1
}

.articles-type {
  margin: 0;
  padding-left: 8px;
}

.type-search-container{
  display: flex;
  justify-content: space-between;
}